<div class="home-page">
    <section class="hero">
      <div class="hero-content">   
      </div>
    </section>  
    <section class="featured-events">
      <h2>Featured Events</h2>
      <div class="event-card" *ngFor="let event  of ($events | async) | slice:0:3">
        <img [src]="event.images" alt="Event Image" />
        <div class="event-details">
          <h3>{{event.title}}</h3>
          <p>Join us for a night of amazing music</p>
          <button class="cta-button" [routerLink]="['/event',event.id]">Details</button>
        </div>
      </div>
    </section>
  </div>
  